*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


.page-frame{
    width: 100%;                   
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    min-height: 100vh; 

}
.navbar { 

    margin: 0;
    width: 1440px;
    height: auto;
    display: flex;  
    justify-content: center;  
    align-items: center; 
    gap: 8px;  
    background-color: #fff; 
    font-size: 1.2rem;
    position: fixed;
    border: 0.02px solid grey;
    box-shadow: 0px 0px 30px rgba(189, 185, 185, 0.2);

    
    
}

.navbar__container {
    width: 100%;  
    height: auto;    
    display: flex;    
    align-items: center;  
    gap: 8px;  
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    box-shadow: 0px px 30px rgba(0, 0, 0, 0.7);
    justify-content: space-between; /* Keeps logo on the left and menu on the right */
    padding: 0 80px; /* Adds spacing from left and right margins */

}

.navbar__logo {
    width: 170px;
    height: 45px;
    display: flex; 
    justify-content: flex-start; 
    gap: 8px; 
    padding-left: 80px;
    
    
}


.navbar__menu{
    width: auto;
    height: auto;
    display: flex;
    font-size: 16px;
    gap: 8px;
    justify-content: flex-end; /* Aligns items to the right */


   
    
}

.navbar__item{
    height: 80px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    line-height: 21.79px;
    padding-left: 16px;
    word-spacing: 3px;
    word-spacing: 0.3em;
    gap: 8px;
    justify-content: flex-start;
    
}

.navbar__link {
    color: black;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    display: inline-flex;
    font-weight: 400;
    width: 125px;
    height: 100%;
    word-spacing: .5px;
    text-decoration: none;
    justify-content: center;
    white-space: nowrap;
    padding: 16px 20px;
}

.navbar__link:hover{
    color:#E30655;
    font-weight: 700;
}

.accordion-item {
    flex: 1;
    overflow: hidden;
    margin: 0;
    /* width: 100%; */
    height: 100vh;
    background-color: #ddd;
    transition: flex 0.3s ease-in-out;
}
.accordion-item.active {
    flex: 16;
    height: 100%;
}

/* Initially show the button */
.accordion-button {
    display: block;
}


.accordion-body {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px; 
    width: 100%; 
    margin: 0;
}


    
.accordion-body.bg-o {
    background-color: white;
}
.accordion-body.bg-t {
    background-color: #E30655;
}
.accordion-body.bg-th {
    background-color: #F9A73E;
        
}



.accordion-item .accordion-button {
width: 100%; 
height: 100%; 
padding: 0; 
margin: 0; 

}


.hidden{
    display: none !important;
}




.team{
   color: black; 
   overflow: visible;
   background-color: #f5f5f5;
   width: 100%;
   /* width: Fixed (1,440px)px; */
   height: 100vh;
   padding: 49px 150px 49px 150px;
   gap: 8px;

}


.team h2{
    font-family: 'Bree Serif';
    font-weight: 400;
    font-size: 64px;
    line-height: 86.91px;
}

.team p{
    width: 60%;
    font-weight: 500;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 21.79px;
    text-align: justify;
}

.image-container{
    display: flex;
    overflow: visible;
    gap: 24px;
}
.image-container p {
    padding: 10px;


}

figcaption{
    margin-top: 2px;
    line-height: 1.2;
    font-family: 'Open Sans';
}

.login-container{
    background-color: #e30655;
    color:#fff; 
    padding: 80px;
    height: 100vh;


}

.login-container h2{
    font-family:'Bree Serif' ;
    font-size: 64px;
    font-weight: 400;
    line-height: 86.91px;
    padding: 0;



}

.form-group{
    padding: 2px 16px 2px 16px;
    gap: 4px;
    border-radius: 8px 8px 8px 8px;
    color: #aaa;
    margin-bottom: 4px !important;
    
   
}
.input-container{
    position: relative;
}
.input-container i {
    position: absolute;
    color: black; /* Icon color */
    font-size: 16px; /* Icon size */
    left: 12px; /* Adjust to place the icon inside the input field */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%);
    
  }
  
.input-container input::placeholder {
    color: #aaa;
    width: 100%;
    height: Hug (24px);
    padding: 16px;
    gap: 8px;

}


.form-group input {
    width: 50%;
    height: 50px; 
    padding-left: 40px;  
    padding-right: 16px;  
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box; 
    visibility: visible;
    opacity: 1;
}




.form-group input#address {
    width: 50%;  
    height: 112px;  
    border-radius: 8px;
    position: relative;  
    padding: 16px;  
    font-size: 16px;
      
}

.form-group input#address::placeholder {
    position: absolute;
    top: 10px;   /* Position from the top */
    left: 16px;
}

.contact h2{
    font-family: 'Bree Serif',serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 86.91px;
    width: 752px;
    height: 88px;
    top: 184px;
    left: 249.61px;

}


.contact{
    background-color: #F9A73E;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    line-height: 21.79px;
    font-family: 'Open Sans';
    padding: 80px;
    height: 100vh;
    margin: 0;

}

.contact p{
    width:60%
}

.team, .contact, .login-container {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100vh;
}


.col{
    display: flex;
    justify-content: space-between;
    background-color: #161616;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 40px 150px;
    box-sizing: border-box;
    width: 1440px;  /* Fixed width */
    height: 80px;   /* Fixed height */
    margin-top: auto;

    
}

.col p{
    color: #f4f4f4;
    margin: 0;
    padding: 0
}

.col a{
    text-decoration: none;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}